{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Password Change - NotInk
{% endblock title %}


{% block content %}
	{% include 'topnav.html' %}
	<div class="auth-form-password-change">
		<div class="auth-form auth-form-password-change">
			<div class="auth-form-description">
				<div class="auth-form-header">
					<h3>Password Change</h3>
					<p>Please enter your old password, and your new password twice for verification</p>
				</div>
				<form method="post" class="auth-form-detail">
					{% csrf_token %}
					{{ form|crispy }}
					<div class="d-grid gap-2">
						<input type="submit" class="btn btn-warning mt-2" value="Change my password">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}
