{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Password Change Successful - NotInk
{% endblock title %}


{% block content %}
	{% include 'topnav.html' %}
	<div class="auth-form-password-change">
		<div class="auth-form auth-form-password-change">
			<div class="auth-form-para">
				<h2>Password Change Successful</h2>
				<p>Your password was changed.</p>
			</div>
		</div>
	</div>

{% endblock content %}


	<div class="auth-form ">
		<a href="{% url 'home' %}"><img class="auth-form-image" src="{% static 'images/NotInkLogo.png' %}" alt="NotInk Logo"></a>

		<div class="auth-form-para">
			<h2>Password Change Successful</h2>
			<p>Your password was changed.</p>
		</div>
		{% comment %} <div class="auth-form-description">
			<div class="auth-form-header">
				<h2>Sign in to NotInk</h2>
			</div>
			<form method="post" class="auth-form-detail">
				{% csrf_token %}
				{{ form|crispy }}
				<a class="auth-form-link" href="#">Forgot your password?</a>
				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-warning mt-2">Log In</button>
					<p class="auth-form-para">New to NotInk? <a class="auth-form-link" href="{% url 'signup' %}"> Create an account</a></p>

				</div>
			</form>
		</div> {% endcomment %}
	</div>

	<!-- Bootstrap JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>