/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	position: relative;
	/* min-height: 100vh; */
	width: 100%;
	overflow: auto;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 78px;
	background: #f5b603;
	padding: 6px 14px;
	transition: all 0.5s ease;
}

.sidebar.active {
	width: 240px;
}

.sidebar .logo-content .logo {
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	padding-left: 6px;
	text-decoration: none;
	opacity: 0;
	pointer-events: visible;
	transition: all 0.5s ease;
}

.sidebar.active .logo-content .logo {
	opacity: 1;
	/* pointer-events: none; */
}

.logo-content .logo i{
	font-size: 28px;
	margin-right: 5px;
}

.logo-content .logo .logo-name {
	font-size: 20px;
	font-weight: 400;
	padding-left: 6px;
}

.sidebar #btn {
	position: absolute;
	color: #fff;
	left: 50%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}

.sidebar.active #btn {
	left: 90%;
}

.sidebar ul{
	margin: 45px 0 10px;
	padding: 0;
}

.sidebar ul li {
	position: relative;
	height: 50px;
	width:100%;
	margin: 0 1px;
	list-style: none;
	line-height: 50px;
}

.sidebar ul li .tooltip {
	position: absolute;
	left: 125px;
	top: 0;
	z-index: 333;
	transform: translate(-50%, -50%);
	border-radius: 6px;
	height: 35px;
	width: 122px;
	background: #fff;
	/* line-height: 35px; */
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transition: 0s;
	opacity: 0;
	pointer-events: none;
	display: block;
}

.sidebar.active ul li .tooltip {
	display: none;
}

.sidebar ul li:hover .tooltip {
	transition: all 0.5s ease;
	opacity: 1;
	top: 50%;
}

.sidebar ul li input {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 12px;
	outline: none;
	border: none;
	background: #fbc222;
	padding-left: 50px;
	font-size: 18px;
	color: #fff;
}

.sidebar ul li .fa-magnifying-glass {
	position: absolute;
	z-index: 99;
	color: #fff;
	font-size: 18px;
	margin-top: 50px;
	transition: all 0.5s;
}

.sidebar ul li .fa-magnifying-glass:hover {
	background: #fff;
	color: #fbc222;
}

.sidebar ul li a {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 12px;
	white-space: nowrap;
}

.sidebar ul li a:hover {
	color: #f5b603;
	background: #fff;
}

.sidebar ul li i {
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}

.sidebar .links-name {
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}

.sidebar.active .links-name {
	opacity: 1;
	pointer-events: auto;
}

.sidebar .profile-content {
	position: absolute;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
}

.sidebar .profile-content .profile {
	position: relative;
	padding: 10px 6px;
	height: 60px;
	background: none;
	transition: all 0.5s ease;
	background: none;
}

.sidebar.active .profile-content .profile {
	background: #fbc222;
}

.profile-content .profile .profile-details {
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
	transition: all 0.3s ease;
}

.sidebar.active .profile .profile-details {
	opacity: 1;
	pointer-events: auto;
}

.profile .profile-details i {
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 12px;
	text-align: center;
	padding-top: 11px;
}

.profile .profile-details .name {
	font-size: 15px;
	font-weight: 400;
}

/* .profile .profile-details .job {
	font-size: 12px;
} */

.profile #log-out {
	position: absolute;
	left: 17%;
	bottom: 13px;
	transform: translateX(-50%);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	min-width: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 12px;
	text-align: center;
	transition: all 0.5s ease;
	background: #fbc222;
}

.profile #log-out:hover {
	background: #fff;
}

.sidebar.active .profile #log-out {
	left: 77%;
	bottom: 5px;
	background: none;
}

.sidebar.active .profile #log-out:hover {
	background: #fff;
}

.sidebar .profile-content .profile a {
	color: #fff;
	text-decoration: none;
}

.sidebar .profile-content .profile a:hover {
	color: #f5b603;
	background: #fff;
}

/* Home Content */

.home-content {
	position: absolute;
	/* height: 100%; */
	width: calc(100% - 78px);
	left: 78px;
	transition: all 0.5s ease;
	overflow: auto;
}

.home-content .page-heading {
	padding: 20px 35px;
	background: #fffaed;
}

.home-content .page-heading h1 {
	font-size: 45px;
	font-weight: 700;
}

.sidebar.active ~ .home-content {
	width: calc(100% - 240px);
	left: 240px;
}


/* Note List */

.home-content .notes {
	padding: 4px;
	background: #ffe18f;
	display: flex;
	justify-content: middle;
}

.card {
	margin: 45px 20px 20px 0;
	text-decoration: none;
	color: #000;
}

.card-list:hover {
	color: rgb(121, 121, 121);
}

.card-header {
	font-size: 20px;
	font-weight: 400;
	border: none;
}

.card-body {
	background: #fffaed;
}

.edit-button {
	text-align: end;
}

.footer-size {
	margin-top: 40px;
}

.notes-option {
	margin-top: 10px;
	font-size: 14px;
}

.notes-category {
	height: 40px;
	line-height: 40px;
}

.add-button {
	position: fixed;
	bottom: 20px;
	background: #f5b603;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	/* border: 4px solid white; */
	left: 87%;
    transform: translate(-50%, 0);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-button:hover {
	background: #fbc222;
}

.add-icon {
	text-align: center;
	color: #fff;
	margin: auto;
	width: 100%;
	padding: 5px 0;

}


/* Detail Page */

.card-detail {
	margin-left: 45px;
}

.detail-button {
	margin-left: 45px;
	color: #fff;
}


/* Update Page */

.edit-form {
	margin: 8%;
}

.delete-form {
	margin: 40px 15px 40px;
}



/* Media Queries */

@media (max-width: 748px) {
	.card-detail {
		margin: 45px 20px 0;
	}

	.detail-button {
		margin: 20px 20px 0;
		color: #fff;
	}
} 
