body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}


/* Nav bar */

.navbar {
	padding: 1.2rem 1rem;
}

.sign-up {
	margin-left: 0;
}

.home-section {
	margin-top: 13rem;
	margin-bottom: 6.5rem;
}


/* Main Section */

.image-title {
	display: flex;
	justify-content: center;
	margin: auto;
}

.heading {
	margin: 5rem 0.5rem 0 1.5rem;
}

.subheading {
	margin: 1.5rem 0.5rem 0 1.5rem;
	font-size: 1.4rem;
}

.starting-btn {
	margin: 2rem 0.5rem 0 1.5rem;
	text-align: center;
}


/* Footer Section */

.footer {
	text-align: center;
	padding: 3rem 0 3rem;
	background-color: #f5b603;
}

.footer-icon {
	margin: 5px 5px 5px;
	color: #ffffff;
	width: 40px;
}

.footer-icon:hover {
	color: #f1ea9b;
}

.footer-text {
	font-size: large;
	font-weight: 500;
	margin: auto;
	margin-top: 0.7rem;
	color: #fff;
}


/* Form Section */

.auth-form {
	margin: auto;
	width: 28rem;
}

.auth-form-password-change {
	padding-top: 5rem;
}

.auth-form-image {
	height: 63px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.auth-form-description {
	/* padding: 15px; */
	margin-bottom: 60px;
}

.auth-form-header {
	display: block;
	text-align: center;
	padding: 50px 30px 20px;
}

.auth-form-detail {
	border: 1px solid rgb(195, 195, 195);
	border-radius: 12px;
	padding: 20px 18px 18px;
	margin: 3px 22px 5px;
}

.auth-form-link {
	text-decoration: none;
}

.auth-form-para {
	text-align: center;
}


/* Error Page */

.error-page {
	background-color: #f5b603;
	text-align: center;
	color: #fff;
}

.error-page-heading {
	padding: 80px 0 3px;
	font-size: 12rem;
	font-weight: 900;
}

.error-page-body {
	margin: auto;
	width: 500px;
	font-size: 1.5rem;
	font-weight: 500;
	padding-bottom: 25px;
}

/* Media Queries */

@media (max-width: 768px) {

	.home-section {
		text-align: center;
		margin-top: 10rem;
		margin-bottom: 4.5rem;
	}


	.sign-up {
		margin-left: 0;
	}

	.heading {
		text-align: center;
		margin: 3rem 0.5rem 1.5rem;
	}

	.subheading {
		text-align: center;
		margin: 0.5rem 0.5rem 1.5rem;
	}

	.image-title {
		width: 100%;
	}

	.footer {
		padding: 35px 0 35px;
	}

	.auth-form {
		margin: auto;
		width: 375px;
	}

	.footer-text {
		width: 55%;
		font-weight: 400;
	}


/* 
	.starting-btn {
		margin: auto;
		text-align: center;

	} */
}