body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}


/* Nav bar */

.navbar {
	padding: 1.2rem 1rem;
}

.sign-up {
	margin-left: 9px;
}

.home-section {
	margin-top: 13rem;
	margin-bottom: 6.5rem;
}


/* Main Section */

.image-title {
	display: flex;
	justify-content: center;
	margin: auto;
}

.heading {
	margin: 5rem 0 0 1.5rem;
}

.subheading {
	margin: 0.5rem 0 0 1.5rem;
	font-size: 1.5rem;
}

.starting-btn {
	margin: 2rem 0 1.5rem 1.5rem;
	text-align: center;
}


/* Footer Section */

.footer {
	text-align: center;
	padding: 3% 0 3%;
	background-color: #f5b603;
}

.footer-icon {
	margin: 2.5% 1.5% 2.5%;
	color: #f1ea9b;
	width: 50px;
}

.footer-text {
	font-size: large;
}


/* Form Section */

.auth-form {
	margin: auto;
	width: 28rem;
}

.auth-form-password-change {
	padding-top: 5rem;
}

.auth-form-image {
	height: 60px;
	margin: 80px 200px 75px;
	text-align: center;
}

.auth-form-description {
	border: 1px solid rgb(195, 195, 195);
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 60px;
}

.auth-form-header {
	text-align: center;
	padding: 30px 30px 20px;
}

.auth-form-detail {
	padding: 7px 35px 5px;
}

.auth-form-link {
	text-decoration: none;
}

.auth-form-para {
	text-align: center;
}


/* Media Queries */

@media (max-width: 768px) {

	.home-section {
		text-align: center;
		margin-top: 10rem;
		margin-bottom: 4.5rem;
	}


	.sign-up {
		margin-left: 0;
	}

	.heading {
		text-align: center;
	}

	.subheading {
		text-align: center;
	}
/* 
	.starting-btn {
		margin: auto;
		text-align: center;

	} */
}