

<footer class="container-fluid footer">
	<a href="https://twitter.com/AdewoleDaniel15" target="_blank"><i class="fa-brands fa-twitter footer-icon fa-2x"></i></a>
	<a href="https://www.linkedin.com/in/daniel-adewole-b27285189/" target="_blank"><i class="fa-brands fa-linkedin footer-icon fa-2x"></i></a>
	<a href="https://github.com/DanAdewole" target="_blank"><i class="fa-brands fa-github footer-icon fa-2x"></i></a>
	<a href="mailto:adedaniel5042@gmail.com" target="_blank"><i class="fa-solid fa-envelope footer-icon fa-2x"></i></a>
	<p class="footer-text">Made with 🤍 by Daniel</p>
</footer>