{% extends 'app_base.html' %}

{% load humanize %}

{% block content %}
{% include 'sidebar.html' %}
	<div class="home-content">

		<div class="page-heading bg-light">
			<h1>All Notes</h1>
		</div>

		<div class="container">

			<div class="row g-0">

				{% for note in notes %}
				<div class="col-lg-4 col-md-6">
					<a href="{% url 'notes_detail' note.pk %}" class="card border-0 card-list">
						<div class="card-header">
							<h4>{{ note.title }}</h4>
						</div>
						<div class="card-body">
							<div class="card-text">
									{{ note.body }}
								<div class="text-muted d-flex justify-content-between notes-option">
									<div class="notes-category">{{ note.date_updated|naturaltime }}</div>
									<span class="notes-category">{{ note.tag_id }}</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}

				{% comment %} <div class="col-lg-4 col-md-6">
					<a href="#" class="card border-0 card-list">
						<div class="card-header">
							<h4>First Note</h4>
						</div>
						<div class="card-body">
							<div class="card-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								<div class="text-muted d-flex justify-content-between notes-option">
									<div class="notes-category">19/04/2022</div>
									<span class="notes-category">Personal</span>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-6">
					<a href="#" class="card border-0 card-list">
						<div class="card-header">
							<h4>First Note</h4>
						</div>
						<div class="card-body">
							<div class="card-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								<div class="text-muted d-flex justify-content-between notes-option">
									<div class="notes-category">19/04/2022</div>
									<span class="notes-category">Personal</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				

				<div class="col-lg-4 col-md-6">
					<a href="#" class="card border-0 card-list">
						<div class="card-header">
							<h4>First Note</h4>
						</div>
						<div class="card-body">
							<div class="card-text">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								<div class="text-muted d-flex justify-content-between notes-option">
									<div class="notes-category">19/04/2022</div>
									<span class="notes-category">Personal</span>
								</div>
							</div>
						</div>
					</a>
				</div> {% endcomment %}

			</div>
		</div>

		<div class="footer-size"></div>

		<a href="{% url 'notes_new' %}" class="add-button">
			<i class="fa-solid fa-plus fa-3x add-icon"></i>
		</a>
	
	</div>


{% endblock content %}
