{% extends 'app_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}NotInk: Update{% endblock title %}

{% block content %}
{% include 'sidebar.html' %}
	<div class="home-content">

		<div class="page-heading bg-light">
			<h1>Edit</h1>
		</div>

		<div class="container">
			<form class="edit-form" action="" method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<div class="d-flex justify-content-between notes-option">
					<a href="{% url 'notes_detail' note.id %}" class="btn btn-warning">Back</a>
					<button class="btn btn-warning" type="submit">Update</button>
				</div>
			</form>
		</div>

		{% comment %} <div class="container">

			<div class="card border-0 card-detail">
				<div class="card-header bg-warning">
					{{ note.title }}
				</div>
				<div class="card-body">
					<div class="card-text">
							{{ note.body }}
						<div class="text-muted d-flex justify-content-between notes-option">
							<div class="notes-category">{{ note.date_updated }}</div>
							<span class="notes-category">{{ note.tag_id }}</span>
						</div>
						<div class="d-flex justify-content-between notes-option">
							<a href="#" class="btn btn-warning"><i class="fa-solid fa-pen"></i> </a>
							<a href="#" class="btn btn-warning"><i class="fa-solid fa-trash"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="detail-button">
				<a class="btn btn-warning" href="{% url 'notes_list' %}">
					Go Back
				</a>
			</div>

		</div> {% endcomment %}

	</div>

{% endblock content %}