{% load static %}

<nav class="navbar navbar-expand-lg bg-light fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}"><img height="50px" src="{% static 'images/NotInk1.png' %}" alt="logo"></a>

		{% if user.is_authenticated %}
		<ul class="navbar-nav ms-auto">
			{% comment %} <li class="nav-item ">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search">
					<!-- <button class="btn btn-outline-warning" type="submit">Search</button> -->
			</li> {% endcomment %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{{ user.username }}
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
				</ul>
			</li>
		</ul>

		{% else %}
		<button class="search navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link btn btn-outline-warning m-1" href="{% url 'login' %}">Sign In</a>
				</li>
				<li class="nav-item sign-up">
					<a class="nav-link btn btn-warning m-1 " href="{% url 'signup' %}">Sign Up</a>
				</li>
			</ul>
		</div>
		{% endif %}

		
	</div>
</nav>